
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8d8d8d;
}

#main-body{
    margin: 0px 120px ;
    background-color: rgb(255, 255, 255);
}


.header-area{
    background-color: #fffbf0;
    width: 1200px;
    max-width: 100%;
    
}

.banner-img{
    height: 300px;
}
.main-section{
    width: 1200px;
    max-width: 80%;
}


.item-img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}


.service-img{
    height: 70px;
    
}

.delivery-img{
    height: 270px; 
    width: 350px;
    margin-top: 50px;
}
.card-footer{
    background-color: white;
    border: 0;
}
.cart-image{
    background-color: #95ae30;
    height: 20px;
}

/*  color */
.title-color{
    color: #fabe4c;
}
.span-1{
    color: #a4bc46;
}
.span-2{
    color: rgb(187, 40, 14);
}
.span-3{
    color: #fabe4c;
}
.button-all{
    background-color: #8da825;
    margin: 10px;
}
@media (max-width: 992px){
    
    .banner-img{
        height: 250px;
    }
    .item-img{
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }
    .delivery-img{
        height: 200px; 
        width: 250px;
        margin-top: 30px;
    }

}
@media (max-width: 668px){
    
    .banner-img{
        height: 200px;
    }
    .service-img{
        height: 40px;
        
    }
    .item-img{
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }
    .delivery-img{
        height: 150px; 
        width: 180px;
        margin-top: 20px;
    }
    
    
    

}